* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html::-webkit-scrollbar {
  width: 8px;
  background-color: #111;
}

html::-webkit-scrollbar-track {
  background-color: #111;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  background-color: #434343;
  border-radius: 100px;
}